/* Fundo da tela limpo */
body {
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: serif; /* Usa a fonte padrão do sistema */
}

/* Estilo do Título Principal */
h1 {
    color: #2c3e50;
    font-style: italic;
    margin-bottom: 20px;
}

/* O Quadrado Azul do Formulário */
form {
    width: 100%;
    max-width: 500px;
    background-color: #e6f0f3;
    border-radius: 30px;
    padding: 25px;
    border: 1px solid #3f7fd3;
    box-sizing: border-box;
    margin-bottom: 30px;
}

/* Inputs, Selects e Textareas dentro do form */
form input, 
form select, 
form textarea {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #353535;
    border-radius: 20px;
    box-sizing: border-box;
    display: block;
}

/* Botões (Cadastrar, Editar, Excluir, Sair) */
button {
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px solid #353535;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    margin: 5px;
    transition: 0.2s;
}

button:hover {
    background-color: #3f7fd3;
    color: white;
}

/* Barra de Busca (que geralmente é um input fora do form) */
input[type="text"]:not(form input) {
    width: 100%;
    max-width: 500px;
    padding: 12px;
    border: 1px solid #3f7fd3;
    border-radius: 20px;
    margin: 20px 0;
    text-align: center;
}

/* Tabela de Dados */
table {
    width: 100%;
    max-width: 900px;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    border-bottom: 2px solid #3f7fd3;
    padding: 10px;
    text-align: left;
    font-style: italic;
}

td {
    padding: 10px;
    border-bottom: 1px solid #d3e2e8;
}

/* Remove a linha horizontal*/
hr {
    display: none;
}

/* Botão com destaque Azul (Estilo Entrar) */
.btn-destaque {
    background-color: #3f7fd3 !important; /* Cor azul do seu formulário */
    color: white !important;
    border: 1px solid #3f7fd3;
    font-weight: bold;
}

/* Efeito ao passar o mouse no botão azul */
.btn-destaque:hover {
    background-color: #2c5a96 !important; /* Um azul um pouco mais escuro */
}

select {
    width: 100%;
    max-width: 500px;
    padding: 12px;
    border: 1px solid #3f7fd3;
    border-radius: 20px;
    margin: 20px 0;
    
    /* Centraliza o texto e a seta */
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-align-last: center; /* para centralizar o texto dentro do select */
    
    background-color: #ffffff;
    cursor: pointer;
}

